{{#mdl-layout fixedHeader=true}}
  {{#mdl-layout-header}}
    {{mdl-toolbar title="Services" navigateUpTo="index"}}
  {{/mdl-layout-header}}

  {{#mdl-layout-content}}
    <div class="buttons-container service-selection-container">
       <span class="button-container maintenance-request-button">
         {{#mdl-link-fab "services.maintenance.index" color="primary"}}
           <svg width="47px" height="86px" viewBox="0 0 47 86" version="1.1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Services-1" transform="translate(-155.000000, -155.000000)" fill="#FFFFFF">
                        <g id="Maintenance-Button" transform="translate(109.000000, 128.000000)">
                            <path
                              d="M76.0414113,67.6717914 L76.0414113,106.985772 L63.422627,106.985772 L63.422627,67.4415054 C63.4276887,66.5453928 62.8987425,65.7268765 62.0711567,65.3539134 C55.2884969,62.3626994 50.9430391,55.6794012 51.0012485,48.3302763 C50.9227924,41.5919097 54.5469598,35.3416491 60.4666021,32 L60.6589462,48.3553073 C60.6589462,49.6118675 61.6889994,50.6331356 62.9620135,50.6331356 L76.7778867,50.6331356 C78.0509008,50.6331356 79.080954,49.6118675 79.080954,48.3553073 L79.080954,32.4105097 C84.8664616,35.7872023 88.4400122,41.9173137 88.4931599,48.5605622 C88.5513693,55.907184 84.2084423,62.5904822 77.4232517,65.5816962 C76.5855426,65.94715 76.0414113,66.7656663 76.0414113,67.6717914 Z M74.2307545,28.7473353 C74.1447059,28.9876337 74.1016815,29.2379445 74.0991507,29.4932615 L74.0991507,46.7822281 L64.8868814,46.7822281 L64.6388588,29.25046 C64.6262045,27.9913967 63.5834971,26.9851473 62.310483,27.000166 C62.0725837,27.0026691 61.8346845,27.0402157 61.6069086,27.117812 C52.1693942,30.3418151 45.8802488,39.1827923 46.0017293,49.0575532 C45.9485816,57.6632383 50.7344061,65.5805688 58.420577,69.6030632 L58.420577,109.990877 C58.420577,111.249941 59.4556919,112.268706 60.7261751,112.268706 L77.983995,112.268706 C79.2544783,112.268706 80.2845315,111.249941 80.2845315,109.990877 L80.2845315,69.8333492 C87.9732332,65.8083516 92.7615886,57.8910211 92.70591,49.2878391 C92.6451698,39.4931777 86.4572581,30.7598341 77.1690635,27.3581104 C75.9694438,26.9400914 74.6559362,27.5633652 74.2307545,28.7473353 Z"
                              id="Fill-9-Copy"></path>
                        </g>
                    </g>
                </g>
            </svg>
         {{/mdl-link-fab}} Maintenance Request
       </span>
      <span class="button-container message-landlord-button">
         {{#mdl-link-fab "services.message" color="primary"}}
           <svg width="66px" height="101px" viewBox="0 0 66 101" version="1.1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink">
              <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="Services-1" transform="translate(-148.000000, -370.000000)" fill="#FFFFFF">
                      <g id="LandLord-BUtton" transform="translate(109.000000, 352.000000)">
                          <path
                            d="M75.4076051,85.8751465 C75.4076051,88.9508663 72.89294,91.4492906 69.8033111,91.4492906 L69.7242269,91.4492906 C66.6324606,91.4492906 64.119933,88.9498031 64.119933,85.8751465 L64.119933,83.3979854 C65.9923058,83.9348808 67.9683431,84.2283128 70.0117088,84.2283128 L70.2211752,84.2283128 C72.0101889,84.2283128 73.7457673,84.0050493 75.4086738,83.5904172 L75.4086738,85.8751465 L75.4076051,85.8751465 Z M96.7817238,113.811783 C93.6611024,114.7665 90.4154425,115.250237 87.1110038,115.250237 L54.2557772,115.250237 C50.2930156,115.250237 46.4360559,114.56131 42.7693258,113.197277 L42.7693258,113.181329 C43.0439833,107.426448 45.1290285,102.026662 48.797896,97.5635196 C52.0221818,93.6425882 56.1965472,90.764616 60.954426,89.162435 C62.2935145,92.6857448 65.7187171,95.2001165 69.7242269,95.2001165 L69.8043799,95.2001165 C73.8109584,95.2001165 77.2350922,92.6878711 78.5741807,89.1645613 C89.1864307,92.7442186 96.5113411,102.583758 96.7817238,113.811783 L96.7817238,113.811783 Z M52.4689009,63.0278537 L52.4689009,44.7521458 C52.4689009,41.7072576 53.2586746,38.8431065 54.6426488,36.3489349 C60.093049,46.0428211 70.7020928,52.2017028 82.0261009,52.2017028 C82.5925151,52.2017028 83.1621353,52.1868186 83.7296182,52.1549238 C85.0900808,52.0815658 86.4409251,51.9178393 87.7639831,51.6733126 L87.7639831,63.0278537 C87.7639831,72.6505083 79.8951013,80.47855 70.2211752,80.47855 L70.0106401,80.47855 C60.3377827,80.47855 52.4689009,72.6494451 52.4689009,63.0278537 L52.4689009,63.0278537 Z M70.0106401,27.3014494 L70.2201065,27.3014494 C79.8940326,27.3014494 87.7639831,35.1294912 87.7639831,44.7521458 L87.7639831,47.8470024 C86.383215,48.1393712 84.9596987,48.3339294 83.5222892,48.41154 C72.3895795,49.0196671 61.8040472,42.8065643 57.116703,32.9372568 C60.3249582,29.474547 64.9182563,27.3014494 70.0106401,27.3014494 L70.0106401,27.3014494 Z M83.2134332,21.7506949 C87.8056626,21.8272423 92.0099518,24.8902042 93.4420177,29.2002519 C94.1719439,31.4020548 94.0992719,34.0610161 94.0308747,36.6317352 C94.0084319,37.3865783 93.9891951,38.1658741 93.9891951,38.9207172 L93.9891951,54.9850538 C93.9891951,59.3333752 96.9441671,63.2149697 100.993494,64.5407293 C99.1489074,70.052147 93.8705688,74.0421838 88.0653582,74.5992792 C90.2551366,71.2684012 91.5333089,67.2943119 91.5333089,63.0267905 L91.5333089,44.7510826 C91.5333089,35.0221121 84.9094695,26.8081435 75.913103,24.3246035 C77.926545,22.6565066 80.5352561,21.704979 83.2134332,21.7506949 L83.2134332,21.7506949 Z M84.9458055,78.3320314 C85.547487,78.3915684 86.1502371,78.4224 86.746575,78.4224 C95.1711839,78.4224 102.868004,72.7004768 104.9445,64.4694977 C105.027859,64.137792 105.013966,63.8060863 104.925263,63.4998964 C104.940225,63.4403595 104.956255,63.384012 104.963736,63.3223488 C105.088775,62.2932106 104.353505,61.3597568 103.318998,61.2364303 C100.199445,60.8621983 97.7563836,58.1160578 97.7574523,54.9850538 L97.7574523,38.9207172 C97.7574523,38.2169057 97.7788264,37.4960837 97.7969944,36.7327354 C97.8728725,33.973837 97.9573003,30.8470856 97.0200452,28.0243977 C95.0664507,22.1344954 89.5433785,18.1061849 83.2754182,18.0019953 C78.5944862,17.926511 74.2320285,19.9964821 71.3946143,23.5846446 C71.0077427,23.5633814 70.6165964,23.5506235 70.2211752,23.5506235 L70.0106401,23.5506235 C58.2602183,23.5506235 48.7017125,33.0616464 48.7017125,44.7510826 L48.7017125,63.0267905 C48.7017125,71.2577696 53.4435607,78.4032631 60.3506072,81.9148782 L60.3506072,85.4137354 C54.6747099,87.1966535 49.6924029,90.550921 45.8792601,95.1894849 C41.6835206,100.293713 39.3067186,106.468542 39.0021374,113.051624 C39.0010687,113.080329 39,113.110098 39,113.139866 L39.0010687,114.474131 C39.0010687,115.230037 39.4574061,115.912585 40.1595459,116.202828 C44.6288742,118.059104 49.3728598,119 54.2557772,119 L87.1110038,119 C91.2885752,119 95.3870625,118.305757 99.2931827,116.935345 C100.040208,116.673808 100.543569,115.975312 100.55105,115.186448 L100.557462,114.472005 C100.557462,101.131482 91.8410962,89.3952669 79.1769309,85.4137354 L79.1769309,82.2582786 C81.3154115,81.2695405 83.2625937,79.9374019 84.9458055,78.3320314 L84.9458055,78.3320314 Z"
                            id="Fill-1"></path>
                      </g>
                  </g>
              </g>
          </svg>
         {{/mdl-link-fab}} Message Landlord
       </span>
    </div>
  {{/mdl-layout-content}}
{{/mdl-layout}}

