{{#mdl-layout fixedHeader=true}}
  {{#mdl-layout-header}}
    {{mdl-toolbar title="Message Landlord" navigateUpTo="services"}}
  {{/mdl-layout-header}}

  {{#mdl-layout-content}}

    <svg id="message-landlord-icon" width="151px" height="157px" viewBox="0 0 151 157" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <defs>
        <linearGradient x1="50%" y1="0%" x2="50%" y2="99.0214445%" id="linearGradient-1">
          <stop stop-color="#000000" stop-opacity="0" offset="0%"></stop>
          <stop stop-color="#000000" stop-opacity="0.02" offset="80%"></stop>
          <stop stop-color="#000000" stop-opacity="0.04" offset="100%"></stop>
        </linearGradient>
        <linearGradient x1="50%" y1="0%" x2="50%" y2="100%" id="linearGradient-2">
          <stop stop-color="#FFFFFF" stop-opacity="0.12" offset="0%"></stop>
          <stop stop-color="#FFFFFF" stop-opacity="0.06" offset="20%"></stop>
          <stop stop-color="#FFFFFF" stop-opacity="0" offset="100%"></stop>
        </linearGradient>
        <circle id="path-3" cx="69.5" cy="69.5" r="69.5"></circle>
        <filter x="-12.9%" y="-8.6%" width="125.9%" height="125.9%" filterUnits="objectBoundingBox" id="filter-4">
          <feOffset dx="0" dy="6" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
          <feGaussianBlur stdDeviation="3" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
          <feComposite in="shadowBlurOuter1" in2="SourceAlpha" operator="out" result="shadowBlurOuter1"></feComposite>
          <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.24 0" type="matrix" in="shadowBlurOuter1" result="shadowMatrixOuter1"></feColorMatrix>
          <feOffset dx="0" dy="0" in="SourceAlpha" result="shadowOffsetOuter2"></feOffset>
          <feGaussianBlur stdDeviation="3" in="shadowOffsetOuter2" result="shadowBlurOuter2"></feGaussianBlur>
          <feComposite in="shadowBlurOuter2" in2="SourceAlpha" operator="out" result="shadowBlurOuter2"></feComposite>
          <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.12 0" type="matrix" in="shadowBlurOuter2" result="shadowMatrixOuter2"></feColorMatrix>
          <feMerge>
            <feMergeNode in="shadowMatrixOuter1"></feMergeNode>
            <feMergeNode in="shadowMatrixOuter2"></feMergeNode>
          </feMerge>
        </filter>
      </defs>
      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Landlord-Message" transform="translate(-103.000000, -137.000000)">
          <g id="LandLord-BUtton" transform="translate(109.000000, 143.000000)">
            <g id="button-bg">
              <use fill="black" fill-opacity="1" filter="url(#filter-4)" xlink:href="#path-3"></use>
              <use fill="#1CA5B8" fill-rule="evenodd" xlink:href="#path-3"></use>
              <circle stroke="url(#linearGradient-1)" stroke-width="0.5" cx="69.5" cy="69.5" r="69.25"></circle>
              <circle stroke="url(#linearGradient-2)" stroke-width="0.5" cx="69.5" cy="69.5" r="69.25"></circle>
            </g>
            <path d="M75.4076051,85.8751465 C75.4076051,88.9508663 72.89294,91.4492906 69.8033111,91.4492906 L69.7242269,91.4492906 C66.6324606,91.4492906 64.119933,88.9498031 64.119933,85.8751465 L64.119933,83.3979854 C65.9923058,83.9348808 67.9683431,84.2283128 70.0117088,84.2283128 L70.2211752,84.2283128 C72.0101889,84.2283128 73.7457673,84.0050493 75.4086738,83.5904172 L75.4086738,85.8751465 L75.4076051,85.8751465 Z M96.7817238,113.811783 C93.6611024,114.7665 90.4154425,115.250237 87.1110038,115.250237 L54.2557772,115.250237 C50.2930156,115.250237 46.4360559,114.56131 42.7693258,113.197277 L42.7693258,113.181329 C43.0439833,107.426448 45.1290285,102.026662 48.797896,97.5635196 C52.0221818,93.6425882 56.1965472,90.764616 60.954426,89.162435 C62.2935145,92.6857448 65.7187171,95.2001165 69.7242269,95.2001165 L69.8043799,95.2001165 C73.8109584,95.2001165 77.2350922,92.6878711 78.5741807,89.1645613 C89.1864307,92.7442186 96.5113411,102.583758 96.7817238,113.811783 L96.7817238,113.811783 Z M52.4689009,63.0278537 L52.4689009,44.7521458 C52.4689009,41.7072576 53.2586746,38.8431065 54.6426488,36.3489349 C60.093049,46.0428211 70.7020928,52.2017028 82.0261009,52.2017028 C82.5925151,52.2017028 83.1621353,52.1868186 83.7296182,52.1549238 C85.0900808,52.0815658 86.4409251,51.9178393 87.7639831,51.6733126 L87.7639831,63.0278537 C87.7639831,72.6505083 79.8951013,80.47855 70.2211752,80.47855 L70.0106401,80.47855 C60.3377827,80.47855 52.4689009,72.6494451 52.4689009,63.0278537 L52.4689009,63.0278537 Z M70.0106401,27.3014494 L70.2201065,27.3014494 C79.8940326,27.3014494 87.7639831,35.1294912 87.7639831,44.7521458 L87.7639831,47.8470024 C86.383215,48.1393712 84.9596987,48.3339294 83.5222892,48.41154 C72.3895795,49.0196671 61.8040472,42.8065643 57.116703,32.9372568 C60.3249582,29.474547 64.9182563,27.3014494 70.0106401,27.3014494 L70.0106401,27.3014494 Z M83.2134332,21.7506949 C87.8056626,21.8272423 92.0099518,24.8902042 93.4420177,29.2002519 C94.1719439,31.4020548 94.0992719,34.0610161 94.0308747,36.6317352 C94.0084319,37.3865783 93.9891951,38.1658741 93.9891951,38.9207172 L93.9891951,54.9850538 C93.9891951,59.3333752 96.9441671,63.2149697 100.993494,64.5407293 C99.1489074,70.052147 93.8705688,74.0421838 88.0653582,74.5992792 C90.2551366,71.2684012 91.5333089,67.2943119 91.5333089,63.0267905 L91.5333089,44.7510826 C91.5333089,35.0221121 84.9094695,26.8081435 75.913103,24.3246035 C77.926545,22.6565066 80.5352561,21.704979 83.2134332,21.7506949 L83.2134332,21.7506949 Z M84.9458055,78.3320314 C85.547487,78.3915684 86.1502371,78.4224 86.746575,78.4224 C95.1711839,78.4224 102.868004,72.7004768 104.9445,64.4694977 C105.027859,64.137792 105.013966,63.8060863 104.925263,63.4998964 C104.940225,63.4403595 104.956255,63.384012 104.963736,63.3223488 C105.088775,62.2932106 104.353505,61.3597568 103.318998,61.2364303 C100.199445,60.8621983 97.7563836,58.1160578 97.7574523,54.9850538 L97.7574523,38.9207172 C97.7574523,38.2169057 97.7788264,37.4960837 97.7969944,36.7327354 C97.8728725,33.973837 97.9573003,30.8470856 97.0200452,28.0243977 C95.0664507,22.1344954 89.5433785,18.1061849 83.2754182,18.0019953 C78.5944862,17.926511 74.2320285,19.9964821 71.3946143,23.5846446 C71.0077427,23.5633814 70.6165964,23.5506235 70.2211752,23.5506235 L70.0106401,23.5506235 C58.2602183,23.5506235 48.7017125,33.0616464 48.7017125,44.7510826 L48.7017125,63.0267905 C48.7017125,71.2577696 53.4435607,78.4032631 60.3506072,81.9148782 L60.3506072,85.4137354 C54.6747099,87.1966535 49.6924029,90.550921 45.8792601,95.1894849 C41.6835206,100.293713 39.3067186,106.468542 39.0021374,113.051624 C39.0010687,113.080329 39,113.110098 39,113.139866 L39.0010687,114.474131 C39.0010687,115.230037 39.4574061,115.912585 40.1595459,116.202828 C44.6288742,118.059104 49.3728598,119 54.2557772,119 L87.1110038,119 C91.2885752,119 95.3870625,118.305757 99.2931827,116.935345 C100.040208,116.673808 100.543569,115.975312 100.55105,115.186448 L100.557462,114.472005 C100.557462,101.131482 91.8410962,89.3952669 79.1769309,85.4137354 L79.1769309,82.2582786 C81.3154115,81.2695405 83.2625937,79.9374019 84.9458055,78.3320314 L84.9458055,78.3320314 Z" id="Fill-1" fill="#FFFFFF"></path>
          </g>
        </g>
      </g>
    </svg>
    <br><br><br>
    {{mdl-textarea label="Message your Landlord"
                    required=true
                    fullWidth=true
                    customError=customError
                    placeholder="Type your message here..."
                    errorMessage=errorMessage
                    rows=5
                    floatingLabel=true
                    expandable=true
                    id="landlord-message"
                    maxlength=500
                    key-down=(action "updateMessageCount")
                    }}
    <div class="landlord-message-count message-count">{{messageCount}} / 500</div>
    {{#mdl-button type="raised" colored=true click=(action (mut errorMessage) "Need to implement output")}}Submit{{/mdl-button}}

  {{/mdl-layout-content}}
{{/mdl-layout}}

