<div class="account-header">
  <div class="account-full-name">{{full-name}}</div>
  <img src="https://i.imgur.com/GjtoTdU.png" class="img-circle account-profile-img">
  <span class="account-resident-since">
    Resident Since November 10, 2017
  </span>
  <span class="account-lease-type">
    One Year Lease
  </span>
</div>