<div class="account-header">
  <div class="account-full-name">{{full-name}}</div>
  <img src="{{avatar-url}}" class="img-circle account-profile-img">
  <span class="account-resident-since">
    Resident Since {{start-date}}
  </span>
  <span class="account-lease-type">
    One Year Lease
  </span>
</div>