<div class="sidebar">
  <div class="setup-link">
    {{#link-to "bill-pay-setup"}}
      Introduction
    {{/link-to}}

  </div>
  <div class="setup-link">
    {{#link-to "bill-pay-setup.sign-lease"}}
      Sign Lease
    {{/link-to}}

  </div>
  <div class="setup-link">
    {{#link-to "bill-pay-setup.rent"}}
      Rent
    {{/link-to}}

  </div>
  <div class="setup-link">
    {{#link-to "bill-pay-setup.electric"}}
      Electric
    {{/link-to}}
  </div>
  <div class="setup-link">  {{#link-to "bill-pay-setup.cable"}}
    Cable & Internet  {{/link-to}}
  </div>
  <div class="setup-link">  {{#link-to "bill-pay-setup.settings"}}
    Settings  {{/link-to}}
  </div>
</div>