<div class="dashboard-event">
  <div class="event-date"><span class="event-month">{{month}}</span> {{format-day day}}</div>
  <div class="event-meta">
    <div class="event-title">
      {{name}}
    </div>
    <div class="event-description">
      {{description}}
    </div>
  </div>

</div>