{{yield}}
<div class="dashboard-clock">
<div class="circle-container">
  <div class="day-count day-{{day}}">{{#mdl-fab}}{{day}}{{/mdl-fab}}</div>
</div>
  <div class="clock-ticks">
    <svg width="211px" height="213px" viewBox="0 0 211 213" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" opacity="0.25">
        <g id="Dashboard-1" transform="translate(-74.000000, -97.000000)" stroke="#FEFEFE" stroke-width="1.8">
          <g id="Group-2" transform="translate(63.000000, 74.000000)">
            <g id="Circle-Dials" transform="translate(0.000000, 14.000000)">
              <g id="Tik-marks" transform="translate(11.592040, 10.432836)">
                <path d="M83.0383339,2.93387282 L84.992177,12.7134489" id="Stroke-1"></path>
                <path d="M62.5229808,9.77957608 L66.4306671,19.5591522" id="Stroke-3"></path>
                <path d="M43.9614709,20.5371098 L49.8230003,28.3607706" id="Stroke-4"></path>
                <path d="M27.3538041,35.2064739 L35.1691767,42.0521771" id="Stroke-5"></path>
                <path d="M14.6538236,52.8097108 L23.4461178,57.6994989" id="Stroke-6"></path>
                <path d="M5.86152945,73.3468206 L15.6307452,76.2806934" id="Stroke-7"></path>
                <g id="Group-12" transform="translate(0.000000, 93.883930)">
                  <path d="M0.879034033,0.879575072 L10.8094418,1.9240338" id="Stroke-8"></path>
                  <path d="M0.879034033,22.3884813 L10.8094418,21.3440226" id="Stroke-10"></path>
                </g>
                <path d="M5.86152945,137.892023 L15.6307452,134.95815" id="Stroke-13"></path>
                <path d="M14.6538236,157.451175 L23.4461178,152.561387" id="Stroke-14"></path>
                <path d="M27.3538041,176.032369 L35.1691767,169.186666" id="Stroke-15"></path>
                <path d="M43.9614709,189.723776 L49.8230003,181.900115" id="Stroke-16"></path>
                <path d="M62.5229808,201.459267 L66.4306671,191.679691" id="Stroke-17"></path>
                <g id="Group-24" transform="translate(83.038334, 197.547437)">
                  <path d="M0.653703815,10.5632135 L2.77579457,0.785593346" id="Stroke-18"></path>
                  <path d="M22.4968583,12.8113425 L22.4968583,2.81563775" id="Stroke-20"></path>
                  <path d="M44.3399129,10.5632135 L42.2178222,0.785593346" id="Stroke-22"></path>
                </g>
                <path d="M147.515158,201.459267 L143.607472,191.679691" id="Stroke-25"></path>
                <path d="M166.076668,189.723776 L160.215138,181.900115" id="Stroke-26"></path>
                <path d="M182.684335,176.032369 L174.868962,169.186666" id="Stroke-27"></path>
                <path d="M195.384315,157.451175 L186.592021,152.561387" id="Stroke-28"></path>
                <path d="M205.153531,137.892023 L195.384315,134.95815" id="Stroke-29"></path>
                <g id="Group-34" transform="translate(199.266100, 93.883930)">
                  <path d="M9.94663745,22.3884813 L0.0162296432,21.3440226" id="Stroke-30"></path>
                  <path d="M9.94663745,0.879575072 L0.0162296432,1.9240338" id="Stroke-32"></path>
                </g>
                <path d="M205.153531,73.3468206 L195.384315,76.2806934" id="Stroke-35"></path>
                <path d="M195.384315,52.8097108 L186.592021,57.6994989" id="Stroke-36"></path>
                <path d="M182.684335,35.2064739 L174.868962,42.0521771" id="Stroke-37"></path>
                <path d="M166.076668,20.5371098 L160.215138,28.3607706" id="Stroke-38"></path>
                <path d="M147.515158,9.77957608 L143.607472,19.5591522" id="Stroke-39"></path>
                <path d="M126.999805,2.93387282 L125.045962,12.7134489" id="Stroke-40"></path>
                <path d="M104.530609,9.99570471 L104.530609,0" id="Stroke-20"></path>
              </g>
            </g>
          </g>
        </g>
      </g>
    </svg>
  </div>
</div>