{{yield}}
<div class="account-lease-tab">
  <div class="buttons-container">
    <div class="button-container">{{#mdl-button }}Lease Agreement{{/mdl-button}}</div>
    <div class="button-container">{{#mdl-button color="accent"}}Rent Agreement{{/mdl-button}}</div>
    <div class="button-container">{{#mdl-button color="accent"}}Renters Insurance{{/mdl-button}}</div>
    <div class="button-container">{{#mdl-button color="accent"}}Pet Policy{{/mdl-button}}</div>
    <div class="button-container">{{#mdl-button color="accent"}}Vehicle Policy{{/mdl-button}}</div>
  </div>
</div>

