<div class="payment-dashboard">
  <div class="payment-month">{{month}}</div>
  {{#link-to 'payment-confirmed'}}

  <svg width="300px" height="400px" viewBox="0 0 300 366" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 40px;
">
    <!-- Generator: Sketch 47.1 (45422) - http://www.bohemiancoding.com/sketch -->
    <desc>Created with Sketch.</desc>
    <defs>
      <circle id="path-1" cx="26.5" cy="26.5" r="26.5"></circle>
      <filter x="-18.9%" y="-15.1%" width="137.7%" height="137.7%" filterUnits="objectBoundingBox" id="filter-2">
        <feOffset dx="0" dy="2" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
        <feGaussianBlur stdDeviation="3" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
        <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.12 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
      </filter>
    </defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g id="Bill-Pay-1-Copy-2" transform="translate(-22.000000, -194.000000)">
        <g id="Group-3" transform="translate(28.000000, 191.000000)">
          <path d="M76.5,64 L225.501515,64" id="line" stroke="#1AA5B8"></path>
          <g id="Due-Date" transform="translate(258.000000, 17.000000)" fill="#1AA5B8">
            <text id="Hint-text-Copy-9" font-family="Roboto-Bold, Roboto" font-size="13" font-weight="bold" line-spacing="24">
              <tspan x="2" y="46">DAYS</tspan>
            </text>
            <text id="Hint-text-Copy-10" transform="translate(19.000000, 16.000000) rotate(-360.000000) translate(-19.000000, -16.000000) " font-family="Roboto-Regular, Roboto" font-size="33" font-weight="normal" line-spacing="39.6">
              <tspan x="0" y="31">12</tspan>
            </text>
          </g>
          <text id="$75" font-family="Roboto-Bold, Roboto" font-size="36" font-weight="bold" line-spacing="24" fill="#1AA5B8">
            <tspan x="120" y="49">$75</tspan>
          </text>
    <g id="Group" transform="translate(0.000000, 8.000000)">
            <g id="Pay-Button">
              <g id="button-bg">
                <use fill="black" fill-opacity="1" filter="url(#filter-2)" xlink:href="#path-1"></use>
                <use fill="#FDBE0E" fill-rule="evenodd" xlink:href="#path-1"></use>
              </g>
            </g>
            <g id="Page-1-Copy" transform="translate(14.000000, 13.000000)" fill="#FEFEFE">
              <polygon id="Fill-1" points="13.8650101 0 13.8650101 2.0353562 22.5264799 2.0353562 7 17.560758 8.43917298 19 23.9647414 3.47368674 23.9647414 12.1355721 26 12.1355721 26 0"></polygon>
              <polygon id="Fill-2" points="0 5 0 27 22 27 22 24.8945202 2.1054798 24.8945202 2.1054798 5"></polygon>
            </g>
          </g>
          <text id="Due-Copy" font-family="Roboto-Bold, Roboto" font-size="16" font-weight="bold" line-spacing="24" fill="#1AA5B8">
            <tspan x="261" y="15">DUE</tspan>
          </text>
          <text id="Payment-History-Copy" font-family="Roboto-Bold, Roboto" font-size="14" font-weight="bold" fill="#1AA5B8">
            <tspan x="89" y="136">Payment History</tspan>
          </text>
          <g id="Group-2" transform="translate(37.000000, 151.000000)">
            <g id="Oct">
              <circle id="Oval" fill="#1AA5B8" cx="18.5" cy="18.5" r="18.5"></circle>
              <text id="OCT-01" font-family="Roboto-Bold, Roboto" font-size="10" font-weight="bold" line-spacing="14" fill="#FFFFFF">
                <tspan x="39.5195312" y="12" font-family="Roboto-Regular, Roboto" font-size="16" font-weight="normal"></tspan>
                <tspan x="9" y="21.1015625" font-family="Roboto-Regular, Roboto" font-size="16" font-weight="normal">01</tspan>
              </text>
            </g>
            <g id="Sept" transform="translate(0.000000, 60.000000)">
              <circle id="Oval-Copy" fill="#1AA5B8" cx="18.5" cy="18.5" r="18.5"></circle>
              <text id="AUG-29" font-family="Roboto-Bold, Roboto" font-size="10" font-weight="bold" line-spacing="14" fill="#FFFFFF">
                <tspan x="39.2929688" y="12" font-family="Roboto-Regular, Roboto" font-size="16" font-weight="normal"></tspan>
                <tspan x="8.5" y="21.1015625" font-family="Roboto-Regular, Roboto" font-size="16" font-weight="normal">29</tspan>
              </text>
            </g>
            <g id="Aug" transform="translate(0.000000, 121.000000)">
              <circle id="Oval-Copy-2" fill="#1AA5B8" cx="18.5" cy="18.5" r="18.5"></circle>
              <text id="AUG-01" font-family="Roboto-Bold, Roboto" font-size="10" font-weight="bold" line-spacing="14" fill="#FFFFFF">
                <tspan x="39.2929688" y="12" font-family="Roboto-Regular, Roboto" font-size="16" font-weight="normal"></tspan>
                <tspan x="8.5" y="21.1015625" font-family="Roboto-Regular, Roboto" font-size="16" font-weight="normal">01</tspan>
              </text>
            </g>
            <g id="Jul" transform="translate(0.000000, 181.000000)">
              <circle id="Oval-Copy-3" fill="#1AA5B8" cx="18.5" cy="18.5" r="18.5"></circle>
              <text id="JUN-28" font-family="Roboto-Bold, Roboto" font-size="10" font-weight="bold" line-spacing="14" fill="#FFFFFF">
                <tspan x="39.3876953" y="12" font-family="Roboto-Regular, Roboto" font-size="16" font-weight="normal"></tspan>
                <tspan x="9" y="21.1015625" font-family="Roboto-Regular, Roboto" font-size="16" font-weight="normal">28</tspan>
              </text>
            </g>
            <text id="Visa-Card-….1356" font-family="Roboto-BoldItalic, Roboto" font-size="14" font-style="italic" font-weight="bold" fill-opacity="0.38" fill="#000000">
              <tspan x="81" y="71">Visa Card</tspan>
              <tspan x="140.383789" y="71" font-size="16"></tspan>
              <tspan x="81" y="87" font-family="Roboto-Regular, Roboto" font-weight="normal">….1356</tspan>
            </text>
            <text id="Visa-Card-….1356-Copy" font-family="Roboto-BoldItalic, Roboto" font-size="14" font-style="italic" font-weight="bold" fill-opacity="0.38" fill="#000000">
              <tspan x="81" y="18">Visa Card</tspan>
              <tspan x="140.383789" y="18" font-size="16"></tspan>
              <tspan x="81" y="34" font-family="Roboto-Regular, Roboto" font-weight="normal">….1356</tspan>
            </text>
            <text id="Visa-Card-….1356" font-family="Roboto-BoldItalic, Roboto" font-size="14" font-style="italic" font-weight="bold" fill-opacity="0.38" fill="#000000">
              <tspan x="81" y="132">Visa Card</tspan>
              <tspan x="81" y="148" font-family="Roboto-Regular, Roboto" font-weight="normal">….1356</tspan>
            </text>
            <text id="Visa-Card-….1356" font-family="Roboto-BoldItalic, Roboto" font-size="14" font-style="italic" font-weight="bold" fill-opacity="0.38" fill="#000000">
              <tspan x="81" y="193">Visa Card</tspan>
              <tspan x="81" y="209" font-family="Roboto-Regular, Roboto" font-weight="normal">….1356</tspan>
            </text>
            <text id="$83.65" font-family="Roboto-Regular, Roboto" font-size="20" font-weight="normal" fill="#25A4BA">
              <tspan x="184" y="25">$83.65</tspan>
            </text>
            <text id="$78.21" font-family="Roboto-Regular, Roboto" font-size="20" font-weight="normal" fill="#25A4BA">
              <tspan x="184" y="79">$78.21</tspan>
            </text>
            <text id="$80.78" font-family="Roboto-Regular, Roboto" font-size="20" font-weight="normal" fill="#25A4BA">
              <tspan x="184" y="139">$80.78</tspan>
            </text>
            <text id="$68.15" font-family="Roboto-Regular, Roboto" font-size="20" font-weight="normal" fill="#25A4BA">
              <tspan x="184" y="202">$68.15</tspan>
            </text>
          </g>
          <text id="Pay-Bill-Copy" font-family="Roboto-Regular, Roboto" font-size="14" font-weight="normal" fill-opacity="0.38" fill="#000000">
            <tspan x="6.36621094" y="77">Pay Bill</tspan>
          </text>
        </g>
      </g>
    </g>
  </svg>
  {{/link-to}}

</div>
