<div class="payment-dashboard">
  <div class="payment-month">{{month}}</div>
  <div class="pay-bill-button buttons-container">
    <span class="button-container">{{#mdl-fab color="accent"}}{{mdl-icon "payment"}}{{/mdl-fab}} Pay Bill</span>
  </div>
</div>
