<h1>Bill Pay</h1>

<span>You're about to set up your utilities!</span>

<span>Please read screens carefully and set up your accounts with the providers listed. Don't forget to press save after each screen.</span>

{{#link-to 'bill-pay-setup.sign-lease'}}
  {{#mdl-button colored=true disabled=isSigningIn id="bp-setup-index-btn"}}
    Next
  {{/mdl-button}}
{{/link-to}}