<h1>Settings</h1>
<div class="bill-pay-settings">
  {{settings-tab}}

  {{#link-to 'index'}}
    {{#mdl-button colored=true disabled=isSigningIn id="bp-setup-rent-btn"}}
      Save
    {{/mdl-button}}
  {{/link-to}}
</div>
