{{#mdl-layout fixedHeader=true}}
  {{#mdl-layout-header}}
    {{mdl-toolbar title=type navigateUpTo="services.maintenance.index"}}
  {{/mdl-layout-header}}

  {{#mdl-layout-content}}
    <div class="priority-switch">
      {{mdl-switch label="High Priority" colored=true}}
    </div>
    <br>
    {{mdl-textarea label="Please write a short description"
                   required=true
                   fullWidth=true
                   customError=customError
                   placeholder="Type your message here..."
                   errorMessage=errorMessage
                   rows=5
                   floatingLabel=true
                   expandable=true
                   id="landlord-message"
                   maxlength=300
                   key-down=(action "updateMessageCount")
    }}
    <div class="landlord-message-count message-count">{{messageCount}} / 300</div>
    <input type="file" id="file" accept="image/*">
    <label for="file" class="file-upload-label">
      <div class="mdl-button mdl-js-button mdl-button--fab mdl-button--primary add-maintenance-photo">
        <i class="material-icons add-photo-icon">+</i>
      </div>
      Add Photos
    </label>


    {{#link-to 'request-sent'}}
    {{#mdl-button type="raised" colored=true click=(action (mut errorMessage) "Need to implement output")
                  id="request-submit-button"}}Submit{{/mdl-button}}
    {{/link-to}}
  {{/mdl-layout-content}}
{{/mdl-layout}}

