  <div class="email-sent">

<br><br>
<br><br>


  {{#mdl-layout-content}}
    <div style="padding: 16px; position: centered">
      {{#mdl-form action="#" style="padding: 16px"}}

      <h2 style="color:#1ba5b7" >An email has been sent</h2>
		<h2 style="color:#1ba5b7" >with a new password</h2>

<br><br>
<br><br>

        {{#mdl-button type="raised" accent=true click=(action (mut errorMessage) "This is a custom error message")}}Return to Login{{/mdl-button}}



      {{/mdl-form}}
    </div>
  {{/mdl-layout-content}}
  </div>
