
    {{#mdl-layout-content id="input_email"}}
        {{#mdl-form action="#"}}
          {{mdl-textfield type=email
                          value=email
                          required=true
                          fullWidth=true
                          placeholder="Email"
                          floatingLabel=usernameFloatingLabel
                          errorMessage=usernameErrorMessage}}


        {{/mdl-form}}
    {{/mdl-layout-content}}

    {{mdl-textfield type=email
                    value=email
                    required=true
                    fullWidth=true
                    placeholder="Email"
                    floatingLabel=usernameFloatingLabel
                    errorMessage=usernameErrorMessage}}

<div class="submit_email_div">
  {{#link-to "forgot_password.email_sent"}}
    {{#mdl-button type="raised" accent=true id="submit_email_button"}}
      Submit
    {{/mdl-button}}
  {{/link-to}}
</div>
