{{#mdl-layout fixedHeader=true}}
    {{account-header full-name=model.profile.full_name}}
    <div>
    {{#mdl-tabs rippleEffect=true activeTab=2 }}
      {{#mdl-tabs-tab-bar colored=true}}
        {{#mdl-tabs-tab}}Profile{{/mdl-tabs-tab}}
        {{#mdl-tabs-tab}}Lease{{/mdl-tabs-tab}}
        {{#mdl-tabs-tab}}Settings{{/mdl-tabs-tab}}
      {{/mdl-tabs-tab-bar}}

      {{#mdl-tabs-panel}}
      {{model.account.email}}<br/>
      {{model.profile.phone}}
        <br>
        <br>
      {{/mdl-tabs-panel}}

      {{#mdl-tabs-panel}}
       Lease buttons
      {{/mdl-tabs-panel}}

      {{#mdl-tabs-panel}}
        Setting toggles
      {{/mdl-tabs-panel}}

    {{/mdl-tabs}}
    </div>
    {{outlet}}
{{/mdl-layout}}

