<div class="mdl-route__bill-pay-setup">

{{#mdl-layout fixedHeader=true}}
  {{#mdl-layout-header}}
    {{mdl-toolbar title="Initial Set Up"}}
  {{/mdl-layout-header}}
  {{bill-pay-setup-sidebar}}
  <div class="bill-pay-setup-step">
    {{outlet}}
  </div>

{{/mdl-layout}}
</div>

