{{#mdl-layout fixedHeader=true}}
  {{#mdl-layout-header}}
    {{mdl-toolbar title="Bill Pay" navigateUpTo="index"}}
  {{/mdl-layout-header}}

  {{#mdl-layout-content}}
    <h3>Bill Pay</h3>
    {{outlet}}
  {{/mdl-layout-content}}
{{/mdl-layout}}

