  <div class="calendar-top-bg">
<div class="event-calendar">
  {{#power-calendar-multiple
    center=center
    selected=eventDates
    onCenterChange=(action (mut center) value="date") as |calendar|}}
    {{calendar.nav}}
    {{calendar.days}}
  {{/power-calendar-multiple}}
</div>
  </div>
  <div class="calendar-event-list">
    (TODO: make calendar event component)
    {{dashboard-event month="Nov" day="4" name="A Message From Your Landlord" description="Eagle Drive will be closed for renovations. Please follow signs."}}
    {{dashboard-event month="Nov" day="22" name="Thanksgiving Social" description="Come eat turky with us from 3pm-6pm in the main office!"}}
  </div>
