
<img src="assets/images/sojologo.png" id="sojo-logo">
<br><br>
<div class="login-form">
{{gatekeeper-sign-in-vertical signInComplete=(action "signInComplete") signInButtonColor="#ed503a"}}
<br>

{{#link-to "register"}}
	{{#mdl-button isRaised=true isAccent=true id="register"}}
		Register
	{{/mdl-button}}
{{/link-to}}
<br/><br/>

{{#mdl-switch value=rememberMe label="Remember Me"}}
  Remember Me
{{/mdl-switch}}
<br/><br/>
{{#link-to "forgot-password"}}
	Forgot Password
{{/link-to}}

</div>
