<h1 style="text-align: center; margin-top: 130px;">Sojo</h1>
<br><br><br><br><br><br>
<div class="login-form">
{{gatekeeper-sign-in-vertical signInComplete=(action "signInComplete")}}
<br>
<input type="checkbox"> Remember Me <a class="forgot-password" href="#">Forgot Password</a>
{{#link-to "register"}}Create an account{{/link-to}}
</div>