<div class="mdl-route__register">
{{#mdl-layout fixedHeader=true}}
  {{#mdl-layout-header}}
    {{mdl-toolbar title="Register"}}
  {{/mdl-layout-header}}

  {{#mdl-layout-content}}
    {{#if errorMessage}}
      {{errorMessage}}
    {{/if}}
    {{outlet}}
  {{/mdl-layout-content}}
{{/mdl-layout}}
</div>