{{#mdl-layout fixedHeader=true}}
  {{#mdl-layout-header}}
    {{mdl-toolbar title="Maintenance Request Sent" navigateUpTo="index"}}
  {{/mdl-layout-header}}
<div class="request-sent">
  <img src="assets/images/sojologo.png" id="sojo-logo">

  <div class="request-sent-text" style="display: block; width: 100%; text-align: center; margin-top: 30px;">Maintenance Request Sent</div>
  <br>
  {{#link-to 'services'}}
    {{#mdl-button colored=true disabled=isSigningIn id="go-back-sent-request"}}
      Go Back
    {{/mdl-button}}
  {{/link-to}}
</div>


{{/mdl-layout}}

