{{#mdl-layout fixedHeader=true}}
  {{#mdl-layout-header}}
    {{mdl-toolbar title="Services" navigateUpTo="index"}}
  {{/mdl-layout-header}}

  {{#mdl-layout-content}}
    <h3>Services</h3>
    {{outlet}}
   {{/mdl-layout-content}}
{{/mdl-layout}}

