@import "app-colors";
@import "routes";
@import "material-design-lite";
@import "ember-power-calendar";

$color-secondary: "253,190,14";

body {
  font-family: "Roboto";
  color: #9E9E9E;
}

.mdl-switch__thumb {
  background-color: #BDBDBD !important;
}

.mdl-switch__track {
  background-color: rgba(0, 0, 0, .1) !important;
}

.mdl-switch.is-checked {
  .mdl-switch__thumb {
    background: rgb(253, 190, 14) !important;
  }
  .mdl-switch__track {
    background: rgba(253, 190, 14, .2) !important;
  }
}

.mdl-tabs__tab-bar {
  background-color: rgba(26, 165, 184, .4);
  font-size: 14px;
  height: 38px;
}

.mdl-tabs__tab.is-active {
  color: #1AA5B8 !important;
  font-weight: bold;
}

.mdl-tabs__tab {
  color: white !important;
  font-weight: 300;
  height: 38px;
  line-height: 38px;
}

body.mdl-route__login {
  #sojo-logo {
    width: 212px;
    height: 212px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
  }

  .login-form {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;

    #register.mdl-button {
      background-color: rgb(253, 190, 14);
      color: white;
      text-decoration: none;
    }

    .mdl-button {
      margin-left: auto;
      margin-right: auto;
      display: block;
      width: 128px;
    }

    a {
      text-decoration: none;
    }

  }

  .forgot-password {
    text-align: right;
    float: right;
    text-decoration: none;
    position: relative;
    top: -25px;
  }

}

.menu-nav-container {
  position: absolute;
  bottom: 0;
  background-color: #F5F5F5;
  width: 100%;
  height: 55px;
  align-content: space-evenly;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  z-index: 1000000000;
  padding-top: 5px;
  .menu-nav-item {
    font-size: 10px;
    color: #BDBDBD;
    text-decoration: none;
    a {
      text-decoration: none;
      color: #BDBDBD;
    }
    svg {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.mdl-layout__content {
  padding: 10px;
}

a {
  color: rgb(26, 165, 184);
}

.mdl-layout__header > .mdl-layout-icon {
  left: 16px;
  top: 16px;
  color: #C5E8ED;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 25px;

  .service-button {
    margin: 20px 0 20px 0;
    text-align: center;
    flex: 1;
    font-size: 14px;
    color: #9E9E9E;
    letter-spacing: 0;
    button {
      margin-bottom: 30px !important;
    }
  }
  .service-button-large > button {
    width: 80px;
    height: 80px;
  }
  .maintenance-request-button > button,
  .message-landlord-button > button {
    width: 140px;
    height: 140px;
    margin-bottom: 16px !important;
    box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, .24);
  }
}

.service-selection-container {
  flex-direction: column;
  .button-container {
    margin: 36px;
  }
}

.mdl-route__services {
  #message-landlord-icon {
    display: block;
    margin-left: auto;
    margin-top: 63px;
    margin-right: auto;
  }

  .mdl-textfield {
    width: 90%;
    display: block;
    margin-left: 20px;
  }

  .mdl-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .message-count {
    text-align: right;
    margin-right: 20px;
  }
  .priority-switch {
    margin-top: 40px;
    margin-left: 19px;
    margin-bottom: 28px;
  }
}

.mdl-button--file {
  input {
    cursor: pointer;
    height: 100%;
    right: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 300px;
    z-index: 4;
  }
}

#file {
  display: none
}

.add-maintenance-photo {
  margin-left: 10px !important;
  margin-right: 20px !important;
  display: inline-block !important;
  .add-photo-icon {
    font-size: 30px;
    /* position: relative; */
    /* left: 0; */
    top: 38%;
  }
}

#request-submit-button {
  margin-top: 40px;
}

.mdl-route__account {
  .logout-button {
    position: absolute;
    right: 8px;
    top: 8px;
    color: white;
  }
  .account-header {
    width: 100%;
    background: rgba(26, 165, 184, 1);
    color: white;
    .account-full-name {
      text-align: center;
      width: 100%;
      font-size: 16px;
      font-weight: bold;
      padding: 20px 0 0 0;
    }
    .account-profile-img {
      height: 160px;
      width: 160px;
      display: block;
      box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.55);
      margin: 10px auto;
    }
    .account-resident-since {
      display: block;
      margin-bottom: 5px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }
    .account-lease-type {
      display: block;
      padding-bottom: 20px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .account-info-header {
    color: #1AA5B8;
    font-weight: bold;
    font-size: 16px;
    //margin: 8px 0 8px 0;
    position: relative;
    right: 30px;
    i {
      position: relative;
      top: 5px;
      right: 5px;
    }
  }
  .contact-information {
    margin-left: auto;
    display: block;
    margin-right: auto;
    width: 300px;
    padding-left: 100px;
    padding-right: 65px;
    line-height: 2;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  .complex-information {
    margin-left: auto;
    display: block;
    margin-right: auto;
    width: 300px;
    padding-left: 100px;
    padding-right: 65px;
    line-height: 2;
  }
  .account-lease-tab {
    .buttons-container {
      flex-direction: column;
      margin-bottom: 0;
      .button-container {
        margin: 2px;
        button {
          background-color: #E4F0F5;
          color: #1AA5B8;
          width: 192px;
        }
      }
    }
  }
  .account-settings-tab {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    .settings-header {
      font-family: Roboto;
      font-weight: 500;
      font-size: 16px;
      color: #1AA5B8;
      letter-spacing: 0;
      margin: 12px 16px;
    }
    .notification-switch {
      margin-left: auto;
      margin-right: auto;
      width: 150px;
      font-weight: 300;
      margin-bottom: 8px;

    }

  }
}

.img-circle {
  border-radius: 50%;
  left: 16px;
  top: 16px;
  color: #C5E8ED;
}

.mdl-route__index {
  .dashboard-clock {
    background-color: #1AA5B8;
    padding: 10px 0 30px 0;
    .month {
      width: 100%;
      padding-bottom: 25px;
      text-align: center;
      text-transform: uppercase;
      font-weight: 300;
      color: white;
      font-size: 20px;
      color: #FFFFFF;
      letter-spacing: 3.36px;
      padding-top: 16px;
    }
    .clock-ticks {
      position: relative;
      margin: 0 auto -190px auto;
      display: block;
      width: 212px;
      top: -227px;
    }
    .circle-container {
      position: relative;
      width: 200px;
      height: 200px;
      padding: 15px;
      /*21px = 15px*1.4 (15px = half the width of a circle, 1.4 = sqrt(2))*/
      border: solid 6px;
      border-color: rgba(255, 255, 255, .25);
      border-radius: 50%;
      margin: 0 auto 0;
      .countdown {
        display: block;
        width: 100%;
        text-align: center;
        padding-top: 80px;
        color: white;
        font-weight: 300;
        .countdown-days {
          display: block;
          font-size: 30px;
          font-weight: bold;
          margin-top: 5px;
        }
      }
      .button-container {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 36px;
        height: 36px;
        margin: -15px;
        //padding:
      }
      .utility-marker {
        display: block;
        position: absolute;
        top: 49%;
        left: 49%;
        width: 30px;
        height: 30px;
        margin: -15px;
        button {
          width: 35px;
          height: 35px;
          min-width: 30px;
          background-color: #FDBE0E;
          color: white;
          font-size: 12px;
          font-weight: bold;
        }
        span {
          color: white;
          font-size: 10px;
          font-weight: bold;
          position: relative;
        }
      }
      .rent-marker {
        display: block;
        position: absolute;
        top: 49%;
        left: 50%;
        width: 30px;
        height: 30px;
        margin: -15px;
        z-index: 9;
        span {
          color: white;
          font-size: 10px;
          font-weight: bold;
          position: relative;
          left: 3px;
        }
        button {
          width: 35px;
          height: 35px;
          min-width: 30px;
          background-color: rgba(21, 137, 152, 1);
          color: white;
          font-size: 12px;
          font-weight: bold;
          position: relative;
          left: -3px;
        }
      }
      .day-count {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 30px;
        height: 30px;
        margin: -15px;
        z-index: 9999999;
        button {
          box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.34);
          width: 30px;
          height: 30px;
          min-width: 30px;
          background-color: white;
          color: #FDBE0E;
          font-size: 12px;
          font-weight: bold;
        }
        //padding:
      }
      @function dayToDegrees($day) {
        //360/30 = 12deg per day

        @return 90 - ($day - 1) * 12;
      }
      @for $i from 1 through 31 {
        .day-#{$i} {
          @if $i <= 30 {
            transform: rotate(#{-(dayToDegrees($i))}deg) translate(116.5px) rotate(#{dayToDegrees($i)}deg);
          } @else {
            transform: rotate(#{-(dayToDegrees(30))}deg) translate(116.5px) rotate(#{(dayToDegrees(30))}deg);
          }
        }
      }

    }
  }
  .dashboard-event {
    width: 100%;
    margin-left: 25px;
    margin-right: 25px;
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 10px;
    .event-meta {
      display: inline-block;
      width: 250px;
      .event-title {
        font-size: 16px;
        color: #1AA5B8;
        font-weight: bold;
      }
      .event-description {
        font-size: 16px;
        font-weight: 300;
      }
    }
    .event-date {
      float: left;
      background-color: #1AA5B8;
      border: 2px solid;
      border-radius: 15%;
      color: white;
      border-color: #1AA5B8;
      padding: 0 5px;
      margin-right: 15px;
      font-weight: 300;
      .event-month {
        font-weight: bold;
      }
    }
  }
}

.mdl-route__calendar {
  .calendar-top-bg {
    background-color: #1AA5B8;
    width: 100%;

  }
  .event-calendar {
    @include ember-power-calendar($cell-size: 42px);
    margin-left: auto;
    margin-right: auto;
    padding-top: 26px;
    width: 306px;
    //padding-bottom: 26px;
    color: white;

    .ember-power-calendar-weekday {
      color: rgba(255, 255, 255, .4);
    }

    .ember-power-calendar-nav-control {
      color: rgba(255, 255, 255, .4) !important;
    }

    .ember-power-calendar-nav-title {
      font-family: Roboto-Bold;
      font-size: 24px;
      color: #FFFFFF;
    }
    .ember-power-calendar-day {
      background-color: transparent;
      color: rgba(255, 255, 255, .4)
    }
    .ember-power-calendar-day--current-month {
      background-color: transparent;
    }
    .ember-power-calendar-day--focused {
      box-shadow: none;
    }
    .is-selected {
      width: 25px;
      border-bottom: 2px solid white;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      top: 2px;
    }
    .ember-power-calendar-day--selected {
      .day-number {
        color: rgba(255, 255, 255, 1);
      }
    }
    .event-dots {
      height: 17px;
    }
    .ember-power-calendar-day:not([disabled]):hover {
      background-color: transparent;
    }
  }

  .calendar-event-list {
    margin: 40px 40px 0 40px;
    overflow-y: auto;
    height: 200px;
    .events-category {
      .event {
        margin-bottom: 25px;
        .event-dot {
          display: inline-block;
          margin-right: 15px;
          position: relative;
          bottom: 2px;
        }
        .event-name {
          display: inline-block;
          font-size: 16px;
          color: rgba(0, 0, 0, .4);
        }
      }
    }
    .no-events {
      color: rgba(0, 0, 0, .2);
      text-align: center;
      margin-top: 40px;
      font-size: 18px;
    }
  }

}

.payment-dashboard{
  .payment-month{
    margin-top: 36px;
    text-align: center;
    font-family: Roboto-Bold;
    font-size: 18px;
    color: #1AA5B8;
    text-transform: uppercase;
  }
}
