@import "app-colors";
@import "routes";

@import "material-design-lite";

$color-secondary: "253,190,14";

body{
  font-family: "Roboto";
  color: #9E9E9E;
}

body.mdl-route__login{
#sojo-logo{
    width: 212px;
    height: 212px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.login-form{
    width:80%;
    display: block;
    margin-left: auto;
    margin-right: auto;

    #register.mdl-button{
        background-color: rgb(253,190,14);
        color: white;
        text-decoration: none;
    }

    .mdl-button{
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 128px;
    }

    a{
        text-decoration: none;
    }


}


.forgot-password{
    text-align: right;
    float: right;
    text-decoration: none;
    position: relative;
    top: -25px;
}

}

.menu-nav-container{
    position: absolute;
    bottom: 0;
    background-color: #F5F5F5;
    width: 100%;
    height: 55px;
    align-content: space-evenly;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1000000000;
    padding-top: 5px;
    .menu-nav-item{
        font-size: 10px;
        color: #BDBDBD;
        text-decoration: none;
        a{
            text-decoration: none;
            color: #BDBDBD;
        }
        svg{
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.mdl-layout__content{
    padding: 10px;
}

a{
    color: rgb(26,165,184);
}

.mdl-layout__header > .mdl-layout-icon {
    left: 16px;
    top: 16px;
    color: #C5E8ED;
}

.buttons-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 25px;

  .service-button{
    margin: 20px 0 20px 0;
    text-align: center;
    flex: 1;
    font-size: 14px;
    color: #9E9E9E;
    letter-spacing: 0;
    button{
      margin-bottom: 30px!important;
    }
  }
  .service-button-large > button {
    width: 80px;
    height: 80px;
  }
  .maintenance-request-button > button,
  .message-landlord-button > button{
    width: 140px;
    height: 140px;
    margin-bottom: 16px!important;
    box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, .24);
  }
}

.service-selection-container{
  flex-direction: column;
  .button-container{
    margin: 36px;
  }
}

.mdl-route__services{
  #message-landlord-icon{
    display: block;
    margin-left: auto;
    margin-top: 63px;
    margin-right: auto;
  }

  .mdl-textfield{
    width: 90%;
    display: block;
    margin-left: 20px;
  }

  .mdl-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .message-count{
    text-align: right;
    margin-right: 20px;
  }
  .priority-switch{
    margin-top: 40px;
    margin-left:19px;
    margin-bottom: 28px;
  }
}
.mdl-button--file {
  input {
    cursor: pointer;
    height: 100%;
    right: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 300px;
    z-index: 4;
  }
}

#file { display: none }

.add-maintenance-photo{
  margin-left: 10px!important;
  margin-right: 20px!important;
  display: inline-block!important;
  .add-photo-icon{
    font-size: 30px;
    /* position: relative; */
    /* left: 0; */
    top: 38%;
  }
}
#request-submit-button{
  margin-top: 40px;
}
